Repository woowacourse-teams/2020-seller-lee-company, pull requests merged in 2020-08, with the labels that each got.

#89 refactor: [게시글 상세 조회] API 연동
  back/src/main/java/sellerlee/back/article/application/ArticleCreateRequest.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleService.java
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/main/java/sellerlee/back/article/application/FeedResponse.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/article/domain/BaseTimeEntity.java
  back/src/main/java/sellerlee/back/article/domain/Category.java
  back/src/main/java/sellerlee/back/article/domain/Photos.java
  back/src/main/java/sellerlee/back/article/domain/Tags.java
  back/src/main/java/sellerlee/back/article/domain/TradeState.java
  back/src/main/java/sellerlee/back/article/domain/TradeType.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/main/java/sellerlee/back/favorite/domain/FavoriteRepository.java
  back/src/main/java/sellerlee/back/member/application/MemberResponse.java
  back/src/main/java/sellerlee/back/member/domain/Member.java
  back/src/main/resources/data.sql
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleViewServiceTest.java
  back/src/test/java/sellerlee/back/article/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/article/fixture/FavoriteFixture.java
  back/src/test/java/sellerlee/back/article/fixture/MemberFixture.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/fixture/FavoriteFixture.java
  back/src/test/java/sellerlee/back/fixture/MemberFixture.java
  back/src/test/java/sellerlee/back/fixture/TagFixture.java
  back/src/test/java/sellerlee/back/member/acceptance/MemberAcceptanceTest.java
  back/src/test/java/sellerlee/back/member/application/MemberServiceTest.java
  back/src/test/java/sellerlee/back/member/domain/MemberTest.java
  back/src/test/java/sellerlee/back/member/fixture/MemberFixture.java
  back/src/test/java/sellerlee/back/member/presentation/LoginAdviceControllerTest.java
  back/src/test/java/sellerlee/back/member/presentation/MemberControllerTest.java
  back/src/test/resources/application.yml
  back/src/test/resources/data.sql
  front/src/calculateDiffTime.ts
  front/src/components/Article/ArticleAuthor.tsx
  front/src/components/Article/ArticlePriceAndTradeType.tsx
  front/src/components/ArticleDetail/ArticleDetail.tsx
  front/src/components/ArticleDetail/ArticleDetailContents.tsx
  front/src/components/ArticleDetail/ArticleDetailFavorite.tsx
  front/src/components/ArticleDetail/ArticleDetailImageSlider.tsx
  front/src/components/ArticleDetail/ArticleDetailImageViewSlider.tsx
  front/src/components/ArticleDetail/ArticleDetailTitle.tsx
  front/src/components/ArticleDetail/AuthorAvatar.tsx
  front/src/components/ArticleDetail/AuthorName.tsx
  front/src/components/Common/Info/CategoryAndTime.tsx
  front/src/components/Common/Info/FavoriteCountAndHit.tsx
  front/src/components/Common/Photo/PhotoBox.tsx
  front/src/components/Feed/FeedArticleCard.tsx
  front/src/data/defaultArticle.ts
  front/src/screens/ArticleDetailImageViewScreen.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/ChatScreen.tsx
  front/src/states/articleState.ts
  front/src/types/types.ts
Labels: back-end, refactoring

#88 feature : [구매자 선택] 스크린 컴포넌트
  Jenkinsfile
  back/src/main/java/sellerlee/back/SellerLeeApplication.java
  back/src/main/java/sellerlee/back/article/application/ArticleCreateRequest.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/chatroom/application/ChatRoomCreateRequest.java
  back/src/main/java/sellerlee/back/chatroom/application/ChatRoomResponse.java
  back/src/main/java/sellerlee/back/chatroom/application/ChatRoomService.java
  back/src/main/java/sellerlee/back/chatroom/domain/ChatRoom.java
  back/src/main/java/sellerlee/back/chatroom/domain/ChatRoomRepository.java
  back/src/main/java/sellerlee/back/chatroom/presentation/ChatRoomController.java
  back/src/main/java/sellerlee/back/favorite/presentation/FavoriteController.java
  back/src/main/resources/application.yml
  back/src/main/resources/data.sql
  back/src/test/java/sellerlee/back/AcceptanceTest.java
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/chatroom/acceptance/ChatRoomAcceptanceTest.java
  back/src/test/java/sellerlee/back/chatroom/application/ChatRoomServiceTest.java
  back/src/test/java/sellerlee/back/chatroom/presentation/ChatRoomControllerTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/fixture/FavoriteFixture.java
  back/src/test/java/sellerlee/back/fixture/MemberFixture.java
  back/src/test/java/sellerlee/back/member/acceptance/MemberAcceptanceTest.java
  back/src/test/java/sellerlee/back/member/presentation/LoginAdviceControllerTest.java
  back/src/test/java/sellerlee/back/member/presentation/MemberControllerTest.java
  back/src/test/resources/application.yml
  front/src/api/api.ts
  front/src/components/Navigation/BottomTabNavigation.tsx
  front/src/components/Navigation/SampleNavigation.tsx
  front/src/components/SelectBuyer/BuyerCard.tsx
  front/src/components/SelectBuyer/SelectBuyerArticleInfo.tsx
  front/src/screens/SelectBuyerScreen.tsx
  front/src/states/articleState.ts
  front/src/states/loginState.ts
  front/src/types/types.ts
  test.mv.db
Labels: back-end, enhancement, front-end

#100 refactoring: TradeType, location 제거
  back/src/main/java/sellerlee/back/article/application/ArticleCreateRequest.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  front/src/components/Article/ArticlePrice.tsx
  front/src/components/Category/CategoryArticleCard.tsx
  front/src/data/categoryArticleMockData.ts
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/ChatRoomScreen.tsx
  front/src/types/types.ts
Labels: back-end, front-end, refactoring

#98 feature: [DB] Flyway, MySQL, Docker 적용
  Dockerfile
  back/build.gradle
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/chatroom/domain/ChatRoom.java
  back/src/main/java/sellerlee/back/favorite/domain/Favorite.java
  back/src/main/java/sellerlee/back/member/domain/Member.java
  back/src/main/resources/application.yml
  back/src/main/resources/data.sql
  back/src/main/resources/db/migration/V1__Init.sql
  back/src/main/resources/db/migration/V2.1__Update_Article.sql
  back/src/main/resources/db/migration/V2.2__Create_Chat_Room.sql
  back/src/main/resources/db/migration/V2.3__Update_Member.sql
  back/src/test/java/sellerlee/back/fixture/MemberFixture.java
  back/src/test/resources/application.yml
  back/src/test/resources/data.sql
  docker-compose.yml
  test.mv.db
Labels: back-end, enhancement, refactoring

#106 feature: [Infra] DB Dockerfile 생성
  Dockerfile
  Dockerfile-mysql
  Dockerfile-springboot
  docker-compose.yml
Labels: back-end, enhancement

#96 feature: [판매 내역] 스크린 컴포넌트
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/article/domain/ArticleRepository.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/test/java/sellerlee/back/article/application/ArticleViewServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  front/package.json
  front/src/api/api.ts
  front/src/components/Navigation/BottomTabNavigation.tsx
  front/src/components/Navigation/ProfileNavigation.tsx
  front/src/components/Navigation/SampleNavigation.tsx
  front/src/components/Profile/CompletedTab.tsx
  front/src/components/Profile/OnSaleTab.tsx
  front/src/screens/ProfileScreen.tsx
  front/src/screens/SalesHistoryScreen.tsx
  front/src/states/articleState.ts
Labels: back-end, enhancement, front-end

#91 feature : [게시글 상세 조회] 상단 바 컴포넌트
  back/src/main/java/sellerlee/back/article/application/ArticleService.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  front/App.tsx
  front/package.json
  front/src/api/api.ts
  front/src/components/Common/Modal/ArticleDeleteModal.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/states/modalState.ts
Labels: back-end, enhancement, front-end

#103 docs: [전체] API 문서 자동화
  back/build.gradle
  back/src/docs/api-docs.adoc
  back/src/main/java/sellerlee/back/article/application/ArticleRequest.java
  back/src/main/java/sellerlee/back/article/domain/Tags.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/chatroom/presentation/ChatRoomControllerTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/member/presentation/LoginAdviceControllerTest.java
  back/src/test/java/sellerlee/back/member/presentation/MemberControllerTest.java
  front/src/components/Common/Tag/Tag.tsx
  front/src/components/Common/Tag/TagItem.tsx
  front/src/screens/ArticleFormScreen.tsx
  front/src/types/types.ts
Labels: back-end, documents

#111 fix: 빌드 실패 수정
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/article/domain/BaseTimeEntity.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  front/src/components/Common/Modal/ArticleDeleteModal.tsx
  front/src/types/types.ts
Labels: back-end, bug, front-end

#104 feature: [찜] 생성, 삭제 API
  back/gradlew
  back/src/main/java/sellerlee/back/SellerLeeApplication.java
  back/src/main/java/sellerlee/back/article/application/ArticleRequest.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleService.java
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/main/java/sellerlee/back/article/application/AuthorResponse.java
  back/src/main/java/sellerlee/back/article/application/FeedResponse.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/article/domain/Photos.java
  back/src/main/java/sellerlee/back/article/domain/Tags.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/main/java/sellerlee/back/articlefavoritecount/application/ArticleFavoriteCountService.java
  back/src/main/java/sellerlee/back/articlefavoritecount/domain/ArticleFavoriteCount.java
  back/src/main/java/sellerlee/back/articlefavoritecount/domain/ArticleFavoriteCountFactory.java
  back/src/main/java/sellerlee/back/articlefavoritecount/domain/ArticleFavoriteCountRepository.java
  back/src/main/java/sellerlee/back/articlefavoritecount/infra/FavoriteCreatedListener.java
  back/src/main/java/sellerlee/back/articlefavoritecount/infra/FavoriteRemovedListener.java
  back/src/main/java/sellerlee/back/common/BaseTimeEntity.java
  back/src/main/java/sellerlee/back/common/config/JpaConfig.java
  back/src/main/java/sellerlee/back/favorite/application/FavoriteCreatedEvent.java
  back/src/main/java/sellerlee/back/favorite/application/FavoriteRemovedEvent.java
  back/src/main/java/sellerlee/back/favorite/application/FavoriteRequest.java
  back/src/main/java/sellerlee/back/favorite/application/FavoriteService.java
  back/src/main/java/sellerlee/back/favorite/domain/Favorite.java
  back/src/main/java/sellerlee/back/favorite/domain/FavoriteRepository.java
  back/src/main/java/sellerlee/back/favorite/presentation/FavoriteController.java
  back/src/main/resources/application.yml
  back/src/main/resources/db/migration/V1__Init.sql
  back/src/main/resources/db/migration/V2.1__Update_Article.sql
  back/src/main/resources/db/migration/V2.2__Create_Chat_Room.sql
  back/src/main/resources/db/migration/V2.3__Update_Member.sql
  back/src/main/resources/db/migration/V3.1__Create_Article_Favorite_Count.sql
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleViewServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/articlefavoritecount/application/ArticleFavoriteCountServiceTest.java
  back/src/test/java/sellerlee/back/favorite/acceptance/FavoriteAcceptanceTest.java
  back/src/test/java/sellerlee/back/favorite/application/FavoriteServiceTest.java
  back/src/test/java/sellerlee/back/favorite/presentation/FavoriteControllerTest.java
  back/src/test/java/sellerlee/back/fixture/FavoriteFixture.java
  back/src/test/resources/data.sql
  front/App.tsx
  front/src/api/api.ts
  front/src/components/ArticleDetail/ArticleDetailFavorite.tsx
  front/src/components/Common/Button/Favorite.tsx
  front/src/components/Feed/FeedArticleCard.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/types/types.ts
  test.mv.db
Labels: back-end, enhancement, front-end

#125 refactor: [리팩토링] Trade 엔티티 ID 생성 전략 및 buyer, seller 필드 수정
  back/src/main/java/sellerlee/back/trade/domain/Trade.java
Labels: back-end, refactoring

#132 fix : [Fix] 빌드 실패 수정
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
Labels: bug

#116 feature: [평가] 스크린 컴포넌트
  back/src/main/java/sellerlee/back/chatroom/application/ChatRoomCreateRequest.java
  back/src/main/java/sellerlee/back/chatroom/application/ChatRoomResponse.java
  back/src/main/java/sellerlee/back/chatroom/application/ChatRoomService.java
  back/src/main/java/sellerlee/back/chatroom/domain/ChatRoom.java
  back/src/main/java/sellerlee/back/chatroom/domain/ChatRoomRepository.java
  back/src/main/java/sellerlee/back/chatroom/presentation/ChatRoomController.java
  back/src/main/java/sellerlee/back/evaluation/application/EvaluationCreateRequest.java
  back/src/main/java/sellerlee/back/evaluation/application/EvaluationService.java
  back/src/main/java/sellerlee/back/evaluation/domain/Evaluation.java
  back/src/main/java/sellerlee/back/evaluation/domain/EvaluationRepository.java
  back/src/main/java/sellerlee/back/evaluation/domain/Score.java
  back/src/main/java/sellerlee/back/evaluation/presentation/EvaluationController.java
  back/src/main/java/sellerlee/back/favorite/presentation/FavoriteController.java
  back/src/main/java/sellerlee/back/member/domain/Member.java
  back/src/main/resources/db/migration/V5.1__Create_Evaluation.sql
  back/src/test/java/sellerlee/back/AcceptanceTest.java
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/chatroom/acceptance/ChatRoomAcceptanceTest.java
  back/src/test/java/sellerlee/back/chatroom/application/ChatRoomServiceTest.java
  back/src/test/java/sellerlee/back/chatroom/presentation/ChatRoomControllerTest.java
  back/src/test/java/sellerlee/back/evaluation/acceptance/EvaluationAcceptanceTest.java
  back/src/test/java/sellerlee/back/evaluation/application/EvaluationServiceTest.java
  back/src/test/java/sellerlee/back/evaluation/presentation/EvaluationControllerTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/fixture/EvaluationFixture.java
  back/src/test/java/sellerlee/back/fixture/FavoriteFixture.java
  back/src/test/java/sellerlee/back/fixture/MemberFixture.java
  front/package.json
  front/src/api/api.ts
  front/src/components/Common/Photo/Photo.tsx
  front/src/components/Evaluation/QuestionAndAnswerCard.tsx
  front/src/components/Navigation/SampleNavigation.tsx
  front/src/data.ts
  front/src/data/categoryArticleMockData.ts
  front/src/data/feedArticleMockData.ts
  front/src/data/memberMockData.ts
  front/src/screens/EvaluationScreen.tsx
  front/src/secret.ts
  front/src/states/evaluationState.ts
  front/src/types/types.ts
  front/yarn.lock
  test.mv.db
Labels: back-end, enhancement, front-end

#137 feature : [게시글 상세 조회] 게시글 삭제 후 navigation error
  front/src/components/Common/Modal/ArticleDeleteModal.tsx
  front/src/secret.ts
  test.mv.db
Labels: bug, front-end

#138 feature : [문서화] api 연결
  back/src/main/java/sellerlee/back/common/PageController.java
  back/src/main/resources/static/docs.html
  back/src/main/resources/static/docs_files/MathJax.js
  back/src/main/resources/static/docs_files/dejavu.css
  back/src/main/resources/static/docs_files/droidsansmono.css
  back/src/main/resources/static/docs_files/font-awesome.min.css
  back/src/main/resources/static/docs_files/googlefonts.css
  back/src/main/resources/static/docs_files/pickSourceLine.js
  back/src/main/resources/static/docs_files/processLinks.js
  back/src/main/resources/static/docs_files/scrollToElement.js
Labels: documents

#143 feature : [웹페이지] 초기 페이지 구현
  back/src/main/resources/static/images/qrcode.png
  back/src/main/resources/static/index.html
Labels: enhancement, front-end

#145 refactor: [데이터베이스] 회원 테이블 email 컬럼 삭제
  back/src/main/resources/db/migration/V6.1__Update_Member.sql
Labels: back-end, refactoring

#147 refactor: [리팩토링] 게시글 생성 request 및 response 수정
  back/src/main/java/sellerlee/back/article/application/ArticleRequest.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleService.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/fixture/ArticleFixture.java
  front/src/api/api.ts
  front/src/screens/ArticleCreateScreen.tsx
Labels: back-end, front-end, refactoring

#148 fix: [Fix] api 페이지 token 검사 제외
  back/src/main/java/sellerlee/back/security/config/AuthorizationConfig.java
  back/src/main/java/sellerlee/back/security/web/context/TokenSecurityInterceptor.java
Labels: back-end, bug

#153 refactor: 피드로 돌아올시 깜빡거리는 현상 제거
  front/src/screens/FeedHomeScreen.tsx
Labels: front-end, refactoring

#159 chore : [배포] Expo 배포 환경 설정
  front/app.json
  front/assets/app_icon.png
Labels: deploy

#158 feature : [버그] PhotoBox 사진 로딩 개선
  front/src/components/ArticleDetail/ArticleDetailImageSlider.tsx
  front/src/components/ArticleDetail/AuthorScore.tsx
  front/src/components/Common/Photo/Photo.tsx
  front/src/components/Common/Photo/TouchablePhoto.tsx
  front/src/components/Feed/FeedArticleCard.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/types/types.ts
Labels: bug, front-end

#161 chore : [배포] Expo 배포 환경 재설정
  front/app.json
Labels: deploy

#162 chore : [배포] SDK 버전 변경 및 서버 주소 변경
  front/app.json
  front/src/api/api.ts
Labels: deploy

#167 feature : [배포] 개인정보 처리 방침 작성
  back/src/main/java/sellerlee/back/common/PageController.java
  back/src/main/java/sellerlee/back/security/config/AuthorizationConfig.java
  back/src/main/java/sellerlee/back/security/web/context/TokenSecurityInterceptor.java
  back/src/main/resources/static/privacy.html
  front/app.json
Labels: back-end, deploy, documents

#177 fix : [버그] 본인 게시글의 수정 및 삭제 기능 수정
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  front/src/api/api.ts
Labels: bug, front-end

#181 fix : [버그] 타인 게시글의 수정 및 삭제 기능 제한
  back/src/main/java/sellerlee/back/article/application/ArticleService.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/main/java/sellerlee/back/member/domain/Member.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  front/src/components/Feed/FeedArticleCard.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/types/types.ts
Labels: back-end, bug, front-end

#185 fix : [버그] 로그인 정보 set 해주는 시점 변경
  back/src/main/java/sellerlee/back/member/presentation/AuthController.java
  back/src/main/java/sellerlee/back/security/config/AuthorizationConfig.java
  back/src/main/java/sellerlee/back/security/web/context/TokenSecurityInterceptor.java
  front/src/api/api.ts
  front/src/components/auth/AuthButton.tsx
Labels: back-end, bug, front-end

#186 feature : [카테고리] 카테고리별 조회 페이지 구현
  back/src/main/java/sellerlee/back/article/application/ArticleCardResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/main/java/sellerlee/back/article/domain/ArticleRepository.java
  back/src/main/java/sellerlee/back/article/domain/Category.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/main/java/sellerlee/back/trade/application/TradeService.java
  back/src/main/java/sellerlee/back/trade/presentation/TradeController.java
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleViewServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  back/src/test/java/sellerlee/back/trade/application/TradeServiceTest.java
  back/src/test/java/sellerlee/back/trade/presentation/TradeControllerTest.java
  front/src/api/api.ts
  front/src/components/ArticleDetail/ArticleDetailFavorite.tsx
  front/src/components/Category/HomeCategoryItem.tsx
  front/src/components/Category/HomeCategoryList.tsx
  front/src/components/Common/ArticleCommon/ArticleCard.tsx
  front/src/components/Common/ArticleCommon/ArticleCardAdditional.tsx
  front/src/components/Feed/FeedArticleCard.tsx
  front/src/components/Navigation/BottomTabNavigation.tsx
  front/src/components/Navigation/CategoryNavigation.tsx
  front/src/components/Profile/MyFavoriteItem.tsx
  front/src/components/Profile/PurchaseHistoryItem.tsx
  front/src/components/Profile/SalesHistoryItem.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/ArticleFormScreen.tsx
  front/src/screens/CategoryDetailScreen.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/HomeCategorySelectScreen.tsx
  front/src/screens/SearchScreen.tsx
  front/src/states/articleState.ts
  front/src/types/types.ts
Labels: back-end, enhancement, front-end

#189 feature : [게시글] 게시글 상태 노출
  back/src/main/java/sellerlee/back/article/application/ArticleCardResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/main/java/sellerlee/back/article/application/SalesHistoryResponse.java
  back/src/main/java/sellerlee/back/article/domain/ArticleRepository.java
  back/src/main/java/sellerlee/back/article/domain/TradeState.java
  back/src/test/java/sellerlee/back/article/application/ArticleViewServiceTest.java
  front/src/components/ArticleDetail/ArticleDetail.tsx
  front/src/components/ArticleDetail/ArticleDetailTradeState.tsx
  front/src/components/Common/ArticleCommon/ArticleCard.tsx
  front/src/components/Common/ArticleCommon/ArticleCardTradeDetails.tsx
  front/src/components/Common/ArticleCommon/ArticleCardTradeState.tsx
  front/src/components/Profile/MyFavoriteItem.tsx
  front/src/components/Profile/PurchaseHistoryItem.tsx
  front/src/components/Profile/SalesHistoryItem.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/types/types.ts
Labels: back-end, enhancement, front-end

#191 feature : [채팅] 상대방 닉네임 표시
  front/src/screens/ChatScreen.tsx
Labels: enhancement, front-end

#192 feature : [회원가입] 중복된 닉네임 입력 시 회원 가입 불가
  back/src/main/java/sellerlee/back/member/domain/IllegalJoinException.java
  back/src/main/java/sellerlee/back/member/domain/IllegalLoginException.java
  back/src/main/java/sellerlee/back/member/presentation/AuthAdviceController.java
  back/src/test/java/sellerlee/back/member/presentation/AuthAdviceControllerTest.java
  front/app.json
  front/src/components/Common/Modal/JoinVerifyModal.tsx
  front/src/components/join/Join.tsx
  front/src/components/join/JoinSubmit.tsx
  front/src/states/joinState.ts
Labels: back-end, enhancement, front-end

#197 fix : [버그] 게시글 재작성 시 폼 초기화
  front/src/components/Navigation/ArticleFormNavigation.tsx
  front/src/screens/ArticleFormScreen.tsx
Labels: bug, front-end

#198 feature : [피드] 뒤로가기 버튼 제거
  front/src/auth/DeviceStorage.ts
  front/src/components/Article/ArticleAuthor.tsx
  front/src/components/ArticleDetail/ArticleDetailChatButton.tsx
  front/src/components/Common/Modal/ArticleDeleteModal.tsx
  front/src/components/Navigation/AppStackNavigation.tsx
  front/src/components/Navigation/ArticleNavigation.tsx
  front/src/components/Navigation/BottomTabNavigation.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/TeaserScreen.tsx
  front/src/types/types.ts
Labels: front-end, refactoring

#204 feat: [찜] 재 진입시 목록 업데이트, UX 개선
  front/src/components/Common/Button/Favorite.tsx
  front/src/components/Navigation/ProfileNavigation.tsx
  front/src/components/Profile/LogoutButton.tsx
  front/src/components/Profile/MyFavorite.tsx
  front/src/components/Profile/MyFavoriteButton.tsx
  front/src/components/Profile/MyFavoriteHeader.tsx
  front/src/components/Profile/MyInfoForm.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/MyFavoriteScreen.tsx
  front/src/screens/MyInfoScreen.tsx
  front/src/screens/ProfileScreen.tsx
  front/src/types/types.ts
Labels: back-end, bug, enhancement, front-end

#206 chore : [배포] Android 업데이트 환경 설정
  front/app.json
  front/src/api/api.ts
  front/src/screens/ArticleFormScreen.tsx
  front/src/screens/AuthScreen.tsx
Labels: deploy, front-end

#212 fix : [피드] 변경사항 있을때 새로고침
  front/src/screens/FeedHomeScreen.tsx
Labels: bug, front-end

#213 refactor : [리팩토링] 업데이트 전 전반적인 리팩토링
  front/src/components/Common/Info/FavoriteCountAndHit.tsx
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/AuthScreen.tsx
Labels: front-end

#215 fix : [배포] 서버 주소 변경
  front/src/api/api.ts
Labels: bug, deploy

#220 fix : [찜] 피드 찜 버그 해결
  front/src/components/Common/Button/Favorite.tsx
Labels: bug, front-end

#221 chore : [배포] 버전 관리
  front/app.json
Labels: deploy

#222 fix: [판매 내역] 판매 완료 후 판매 중인 리스트에 남아있는 버그 수정
  back/src/main/java/sellerlee/back/article/application/ArticleViewService.java
  back/src/main/java/sellerlee/back/article/application/SalesHistoryResponse.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleViewServiceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  front/src/components/Common/ArticleCommon/ArticleCardAdditional.tsx
  front/src/components/Profile/SalesHistoryItem.tsx
  front/src/states/articleState.ts
Labels: back-end, bug, refactoring

#225 feature : [리팩토링] 게시글 수정 내용 사항이 조회 화면에서 바로 보여지도록 구현
  front/app.json
  front/src/data/defaultArticle.ts
  front/src/screens/ArticleFormScreen.tsx
Labels: front-end, refactoring

#226 refactor: [프로필] 아바타만 변경시 기존 비밀번호 유지
  back/src/main/java/sellerlee/back/member/application/MemberService.java
  back/src/main/java/sellerlee/back/member/application/ProfileRequest.java
  back/src/main/java/sellerlee/back/member/domain/Member.java
  back/src/test/java/sellerlee/back/member/application/MemberServiceTest.java
  back/src/test/java/sellerlee/back/member/domain/MemberTest.java
Labels: back-end, bug, front-end

#228 feat: [프로필] 닉네임 길이제한 및 화면 변경
  front/src/components/Category/HomeCategoryItem.tsx
  front/src/components/Profile/ProfileInfo.tsx
  front/src/components/join/JoinNicknameForm.tsx
  front/src/components/join/JoinPasswordForm.tsx
  front/src/joinValidator.ts
Labels: enhancement, front-end

#230 feature: [프로필] 프로필 스크린 기본 아바타
  front/assets/user.png
  front/src/components/Profile/ProfileInfo.tsx
  front/src/components/join/JoinSubmit.tsx
  front/src/states/authState.ts
  front/src/states/joinState.ts
  front/src/states/memberState.ts
Labels: bug, front-end

#232 refactor : [채팅] UI/UX 리팩토링
  front/src/screens/ChatScreen.tsx
Labels: front-end, refactoring

#233 refactor : [채팅] 연속적인 메세지에 하나의 닉네임만 표시되도록 수정
  front/src/screens/ChatScreen.tsx
Labels: front-end, refactoring

#236 fix : [버그] 게시글 찜 기능과 찜목록에 대한 버그 해결
  front/src/api/api.ts
  front/src/components/Common/Button/Favorite.tsx
  front/src/screens/FeedHomeScreen.tsx
Labels: bug, front-end
