Repository woowacourse-teams/2020-seller-lee-company, pull requests merged in 2020-09, with the labels that each got.

#241 refactor: [리팩토링] 게시글 생성 화면에서 선택한 사진 리스트의 끝부분이 잘리는 문제
  front/src/screens/ArticleFormScreen.tsx
Labels: front-end, refactoring

#238 refactor: [게시글 전체 조회] ArticleController.showByTradeState() URI 변경
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/test/java/sellerlee/back/article/acceptance/ArticleAcceptanceTest.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
  front/src/api/api.ts
Labels: back-end, front-end, refactoring

#244 refactor : [사진] S3 bucket 주소 변경 및 데이터 이전
  front/src/components/Common/Photo/Photo.tsx
  front/src/components/auth/AuthButton.tsx
Labels: front-end, refactoring

#249 test : PageControllerTest 작성
  back/src/main/java/sellerlee/back/common/PageController.java
  back/src/main/java/sellerlee/back/security/config/AuthorizationConfig.java
  back/src/main/resources/static/index.html
  back/src/test/java/sellerlee/back/common/PageControllerTest.java
Labels: back-end

#254 fix: [버그] 최상위 디렉토리의 불필요한 프론트 모듈 제거
  .expo/settings.json
  package.json
  yarn.lock
Labels: bug, front-end

#262 feature: [조직] 조직 입장/생성 스크린
  front/src/components/Navigation/RootStack.tsx
  front/src/components/group/GroupCreateButton.tsx
  front/src/components/group/GroupCreateSubmitButton.tsx
  front/src/components/group/GroupCreationName.tsx
  front/src/components/group/GroupEnterButton.tsx
  front/src/components/group/GroupEnterSubmitButton.tsx
  front/src/components/group/GroupEntranceCode.tsx
  front/src/components/join/Join.tsx
  front/src/screens/GroupCreateCompleteScreen.tsx
  front/src/screens/GroupCreateScreen.tsx
  front/src/screens/GroupEnterScreen.tsx
  front/src/screens/GroupHomeScreen.tsx
  front/src/screens/ProfileScreen.tsx
  front/src/states/groupState.ts
  front/src/types/types.ts
Labels: enhancement, front-end

#269 feature : [조직] 게시글 생성/수정 스크린
  back/settings.gradle
  front/src/components/Article/ArticleFormGroupSelect.tsx
  front/src/components/Navigation/HomeStack.tsx
  front/src/components/Navigation/PostingStack.tsx
  front/src/components/group/GroupItem.tsx
  front/src/components/group/GroupList.tsx
  front/src/data/defaultArticle.ts
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/ArticleFormScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/GroupChoiceScreen.tsx
  front/src/states/articleState.ts
  front/src/states/groupState.ts
  front/src/types/types.ts
Labels: enhancement, front-end

#274 fix: nickname null 방어
  back/src/main/java/sellerlee/back/member/domain/Member.java
Labels: back-end, bug

#275 feature : [채팅] 1:1 채팅 구현 - 3
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ArticleInfo.java
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ChatRoomResponse.java
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ChatRoomService.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/ChatRoomRepository.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/Opponent.java
  back/api/src/main/java/com/jikgorae/api/chatroom/presentation/ChatRoomController.java
  back/api/src/main/java/com/jikgorae/api/chatroom/query/ChatRoomDao.java
  back/api/src/main/java/com/jikgorae/api/chatroom/query/ChatRoomInfo.java
  back/api/src/main/java/com/jikgorae/api/member/application/ProfileResponse.java
  back/api/src/test/java/com/jikgorae/api/chatroom/acceptance/ChatRoomAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/application/ChatRoomServiceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/presentation/ChatRoomControllerTest.java
  back/api/src/test/java/com/jikgorae/api/member/presentation/ProfileControllerTest.java
  back/chat/build.gradle
  back/chat/src/main/java/com/jikgorae/chat/config/MongoConfig.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageDto.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/Message.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageDtoHandlingService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRequestHandlingService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageType.java
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  back/chat/src/main/resources/application.yml
  front/src/api/api.ts
  front/src/components/ArticleDetail/ArticleDetailBottomNav.tsx
  front/src/components/Category/CategoryItem.tsx
  front/src/components/Chat/ChatRoomItem.tsx
  front/src/components/Chat/ChatRoomList.tsx
  front/src/components/Chat/ChatTradeState.tsx
  front/src/components/Navigation/HomeStack.tsx
  front/src/components/Navigation/HomeTab.tsx
  front/src/components/Profile/MyInfoAvatar.tsx
  front/src/components/auth/AuthButton.tsx
  front/src/components/auth/KakaoLoginWebView.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/MyInfoScreen.tsx
  front/src/screens/SelectChatScreen.tsx
  front/src/states/chatRoomState.ts
  front/src/states/memberState.ts
  front/src/types/types.ts
Labels: back-end, enhancement, front-end

#276 chore : merge release/1.2.0
  back/api/src/main/java/com/jikgorae/api/member/application/MemberService.java
  back/api/src/main/java/com/jikgorae/api/member/domain/Member.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  back/api/src/main/resources/static/privacy.html
  back/api/src/test/java/com/jikgorae/api/chatroom/presentation/ChatRoomControllerTest.java
  back/api/src/test/java/com/jikgorae/api/member/application/MemberServiceTest.java
  back/api/src/test/java/com/jikgorae/api/member/domain/MemberTest.java
  front/app.json
  front/src/api/api.ts
  front/src/components/Common/Photo/Photo.tsx
Labels: deploy

#278 feat : [조직] 피드/카테고리 스크린
  front/src/components/Article/ArticleFormGroupSelect.tsx
  front/src/components/group/GroupItem.tsx
  front/src/components/group/GroupList.tsx
  front/src/screens/ArticleFormScreen.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/CategoryHomeSelectedScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/GroupChoiceScreen.tsx
  front/src/states/articleState.ts
  front/src/states/groupState.ts
Labels: enhancement, front-end

#288 feature: [조직] 조직 입장 API
  back/api/src/docs/api-docs.adoc
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterService.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRequest.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationService.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/domain/MemberOrganization.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/domain/MemberOrganizationRepository.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/presentation/MemberOrganizationController.java
  back/api/src/main/java/com/jikgorae/api/organization/domain/OrganizationRepository.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  back/api/src/main/resources/db/migration/V9.2__Create_Member_Organization.sql
  back/api/src/test/java/com/jikgorae/api/AcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/fixture/MemberOrganizationFixture.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/acceptance/MemberOrganizationAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterServiceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/presentation/MemberOrganizationControllerTest.java
  back/api/src/test/java/com/jikgorae/api/organization/acceptance/OrganizationAcceptanceTest.java
  back/api/src/test/resources/truncate.sql
  back/chat/src/main/resources/db/migration/V9.2__Create_Member_Organization.sql
  front/src/api/api.ts
  front/src/components/Article/ArticleFormGroupSelect.tsx
  front/src/components/organization/OrganizationEnterSubmitButton.tsx
  front/src/components/organization/OrganizationEntranceCode.tsx
  front/src/components/organization/OrganizationItem.tsx
  front/src/components/organization/OrganizationList.tsx
  front/src/data/defaultArticle.ts
  front/src/screens/ArticleFormScreen.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/OrganizationEnterScreen.tsx
  front/src/states/articleState.ts
  front/src/states/organizationState.ts
  front/src/types/types.ts
Labels: back-end, enhancement, front-end

#292 feature : [채팅] 1:1 채팅 구현 - 4
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ArticleInfo.java
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ChatRoomResponse.java
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ChatRoomService.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/Opponent.java
  back/api/src/main/java/com/jikgorae/api/chatroom/presentation/ChatRoomController.java
  back/api/src/main/java/com/jikgorae/api/member/application/AuthTokenResponse.java
  back/api/src/main/java/com/jikgorae/api/security/handler/OAuth2SuccessHandler.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  back/api/src/test/java/com/jikgorae/api/AcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/acceptance/ChatRoomAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/application/ChatRoomServiceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/domain/OpponentTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/presentation/ChatRoomControllerTest.java
  back/api/src/test/java/com/jikgorae/api/favorite/application/FavoriteServiceTest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/Message.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRequestHandlingService.java
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  back/chat/src/main/resources/application.yml
  back/chat/src/main/resources/db/migration/V1__Init.sql
  back/chat/src/main/resources/db/migration/V2.1__Update_Article.sql
  back/chat/src/main/resources/db/migration/V2.2__Create_Chat_Room.sql
  back/chat/src/main/resources/db/migration/V2.3__Update_Member.sql
  back/chat/src/main/resources/db/migration/V3.1__Create_Article_Favorite_Count.sql
  back/chat/src/main/resources/db/migration/V4.1__Create_Trade.sql
  back/chat/src/main/resources/db/migration/V5.1__Create_Evaluation.sql
  back/chat/src/main/resources/db/migration/V6.1__Update_Member.sql
  back/chat/src/main/resources/db/migration/V7.1__Update_Member.sql
  back/chat/src/main/resources/db/migration/V8.1__Create_Room.sql
  back/chat/src/main/resources/db/migration/V9.1__Create_Organization.sql
  back/chat/src/main/resources/db/migration/V9.2__Create_Member_Organization.sql
  back/chat/src/test/resources/application.yml
  front/src/api/api.ts
  front/src/calculateDiffTime.ts
  front/src/components/ArticleDetail/ArticleDetailBottomNav.tsx
  front/src/components/Chat/ChatMenu.tsx
  front/src/components/Chat/ChatRoomItem.tsx
  front/src/components/Chat/ChatRoomList.tsx
  front/src/components/auth/AuthButton.tsx
  front/src/components/auth/KakaoLoginWebView.tsx
  front/src/screens/ChatScreen.tsx
Labels: back-end, enhancement, front-end

#295 feature : [채팅] 전체 채팅 구현 - 1
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCountDecreaseEvent.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCountDecreaseListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCountIncreaseEvent.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCountIncreaseListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/domain/Favorite.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/WholeMessage.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/WholeMessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  back/chat/src/main/resources/db/migration/V10.1__Update_Member.sql
  front/src/api/api.ts
  front/src/components/Chat/ChatRoomItem.tsx
  front/src/components/Chat/ChatRoomList.tsx
  front/src/components/Chat/OrganizationChatList.tsx
  front/src/components/Chat/OrganizationItem.tsx
  front/src/components/Common/ArticleCommon/ArticleCardImage.tsx
  front/src/components/Common/Photo/Photo.tsx
  front/src/components/Common/Photo/PhotoBox.tsx
  front/src/components/Common/Photo/PhotoBoxInImageViewSlider.tsx
  front/src/components/Feed/FeedSliderImage.tsx
  front/src/components/Profile/MyInfoAvatar.tsx
  front/src/components/Profile/ProfileInfo.tsx
  front/src/components/SelectBuyer/BuyerCard.tsx
  front/src/components/SelectBuyer/SelectBuyerArticleInfo.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/SelectChatScreen.tsx
  front/src/screens/WholeChatScreen.tsx
  front/src/states/chatRoomState.ts
Labels: back-end, enhancement, front-end

#308 feature: [조직] 조직 삭제 API & 조직 목록 조회 스크린
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterService.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationService.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/domain/MemberOrganizationRepository.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/presentation/MemberOrganizationController.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/acceptance/MemberOrganizationAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterServiceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/presentation/MemberOrganizationControllerTest.java
  front/src/api/api.ts
  front/src/components/Article/ArticleFormCategorySelect.tsx
  front/src/components/Article/ArticleFormOrganizationSelect.tsx
  front/src/components/Navigation/HomeStack.tsx
  front/src/components/Navigation/PostingStack.tsx
  front/src/components/Profile/EnterOrganizationButton.tsx
  front/src/components/Profile/OrganizationDeleteModal.tsx
  front/src/components/Profile/OrganizationManageItem.tsx
  front/src/components/Profile/OrganizationManageList.tsx
  front/src/components/auth/AuthButton.tsx
  front/src/components/auth/KakaoLoginWebView.tsx
  front/src/components/organization/OrganizationEnterSubmitButton.tsx
  front/src/screens/ArticleFormScreen.tsx
  front/src/screens/OrganizationHomeScreen.tsx
  front/src/screens/OrganizationManageScreen.tsx
  front/src/states/organizationState.ts
  front/src/types/types.ts
Labels: back-end, enhancement, front-end

#311 feature : [조직] Article CRUD 작업에 Organization 추가
  back/api/src/main/java/com/jikgorae/api/ApiApplication.java
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleRequest.java
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleResponse.java
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleService.java
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleViewService.java
  back/api/src/main/java/com/jikgorae/api/article/application/AuthorResponse.java
  back/api/src/main/java/com/jikgorae/api/article/application/FeedResponse.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleCreatedEvent.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleDeletedEvent.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleEvent.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleEventListener.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleUpdatedEvent.java
  back/api/src/main/java/com/jikgorae/api/article/domain/Article.java
  back/api/src/main/java/com/jikgorae/api/article/query/ArticleDao.java
  back/api/src/main/java/com/jikgorae/api/articleorganization/application/ArticleOrganizationService.java
  back/api/src/main/java/com/jikgorae/api/articleorganization/domain/ArticleOrganization.java
  back/api/src/main/java/com/jikgorae/api/articleorganization/domain/ArticleOrganizationRepository.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/ChatRoomRepository.java
  back/api/src/main/java/com/jikgorae/api/chatroom/presentation/ChatRoomController.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCountDecreaseListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCountIncreaseListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteService.java
  back/api/src/main/java/com/jikgorae/api/member/application/AuthTokenResponse.java
  back/api/src/main/java/com/jikgorae/api/member/application/ProfileResponse.java
  back/api/src/main/java/com/jikgorae/api/notification/NotificationType.java
  back/api/src/main/java/com/jikgorae/api/organization/domain/Organization.java
  back/api/src/main/java/com/jikgorae/api/security/handler/OAuth2SuccessHandler.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/JwtTokenProvider.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/service/CustomOAuth2UserService.java
  back/api/src/main/resources/db/migration/V8.1__Update_Chat_Room.sql
  back/api/src/main/resources/db/migration/V9.3__Create_Article_Organization.sql
  back/api/src/test/java/com/jikgorae/api/AcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/acceptance/ArticleAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleServiceTest.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleViewServiceTest.java
  back/api/src/test/java/com/jikgorae/api/article/presentation/ArticleControllerTest.java
  back/api/src/test/java/com/jikgorae/api/articleorganization/application/ArticleOrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/application/ChatRoomServiceTest.java
  back/api/src/test/java/com/jikgorae/api/chatroom/domain/OpponentTest.java
  back/api/src/test/java/com/jikgorae/api/favorite/application/FavoriteServiceTest.java
  back/api/src/test/java/com/jikgorae/api/fixture/ArticleFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/FavoriteFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/MemberFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/OrganizationFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/TradeFixture.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/acceptance/MemberOrganizationAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/acceptance/OrganizationAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/application/OrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/presentation/OrganizationControllerTest.java
  front/src/data/defaultArticle.ts
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/ArticleFormScreen.tsx
  front/src/types/types.ts
Labels: back-end, enhancement, front-end

#312 feature : [채팅] 전체 채팅 구현 - 2
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRequestHandlingService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/WholeMessage.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/WholeMessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  front/package.json
  front/src/api/api.ts
  front/src/components/Chat/ChatRoomList.tsx
  front/src/components/Common/Photo/PhotoBox.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/WholeChatScreen.tsx
Labels: back-end, enhancement, front-end

#317 chore: [채팅] 서버, DB 배포
  back/chat/build.gradle
  back/chat/src/main/resources/application.yml
Labels: deploy

#320 feature : [조직] 조직별 피드 조회
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleService.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleCreatedEvent.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleDeletedEvent.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleEvent.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleEventListener.java
  back/api/src/main/java/com/jikgorae/api/article/application/event/ArticleUpdatedEvent.java
  back/api/src/main/java/com/jikgorae/api/article/presentation/ArticleController.java
  back/api/src/main/java/com/jikgorae/api/article/query/ArticleDao.java
  back/api/src/test/java/com/jikgorae/api/AcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/acceptance/ArticleAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleServiceTest.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleViewServiceTest.java
  back/api/src/test/java/com/jikgorae/api/article/presentation/ArticleControllerTest.java
  back/api/src/test/java/com/jikgorae/api/articleorganization/application/ArticleOrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/fixture/ArticleFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/ArticleOrganizationFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/GroupFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/MemberOrganizationFixture.java
  back/api/src/test/java/com/jikgorae/api/fixture/OrganizationFixture.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/acceptance/MemberOrganizationAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterServiceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/presentation/MemberOrganizationControllerTest.java
  back/api/src/test/java/com/jikgorae/api/organization/acceptance/OrganizationAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/application/OrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/presentation/OrganizationControllerTest.java
  front/src/api/api.ts
  front/src/components/organization/OrganizationList.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
Labels: back-end, enhancement, front-end

#321 feature : [조직] 조직별 카테고리 조회
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleCardResponse.java
  back/api/src/main/java/com/jikgorae/api/article/presentation/ArticleController.java
  back/api/src/main/java/com/jikgorae/api/article/query/ArticleDao.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/service/CustomOAuth2UserService.java
  back/api/src/test/java/com/jikgorae/api/AcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/acceptance/ArticleAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleViewServiceTest.java
  back/api/src/test/java/com/jikgorae/api/article/presentation/ArticleControllerTest.java
  back/api/src/test/java/com/jikgorae/api/fixture/ArticleFixture.java
  front/src/api/api.ts
  front/src/components/organization/OrganizationItem.tsx
  front/src/components/organization/OrganizationList.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/OrganizationChoiceScreen.tsx
  front/src/states/organizationState.ts
Labels: back-end, enhancement, front-end

#322 refactor : [채팅] 테스트 코드 작성 및 리팩토링
  Jenkinsfile
  back/chat/build.gradle
  back/chat/src/main/java/com/jikgorae/chat/config/WebSockConfig.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageRequestHandlingService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/MessageType.java
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  back/chat/src/main/java/com/jikgorae/chat/wholeMessage/application/WholeMessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/wholeMessage/application/WholeMessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/wholeMessage/application/WholeMessageService.java
  back/chat/src/main/java/com/jikgorae/chat/wholeMessage/domain/WholeMessage.java
  back/chat/src/main/java/com/jikgorae/chat/wholeMessage/domain/WholeMessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/wholeMessage/presentation/WholeMessageController.java
  back/chat/src/test/java/com/jikgorae/api/ChatApplicationTests.java
  back/chat/src/test/java/com/jikgorae/chat/AcceptanceTest.java
  back/chat/src/test/java/com/jikgorae/chat/message/acceptance/MessageAcceptanceTest.java
  back/chat/src/test/java/com/jikgorae/chat/message/fixture/MessageFixture.java
  back/chat/src/test/java/com/jikgorae/chat/wholemessage/acceptance/WholeMessageAcceptanceTest.java
  back/chat/src/test/java/com/jikgorae/chat/wholemessage/fixture/WholeMessageFixture.java
  front/package.json
  front/src/components/Chat/Fire.ts
  front/src/components/chat/ChatMenu.tsx
  front/src/components/chat/ChatRoomItem.tsx
  front/src/components/chat/ChatRoomList.tsx
  front/src/components/chat/ChatTradeState.tsx
  front/src/components/chat/OrganizationChatList.tsx
  front/src/components/chat/OrganizationItem.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/SelectChatScreen.tsx
  front/src/screens/WholeChatScreen.tsx
Labels: back-end, front-end, refactoring

#324 fix : [채팅] 채팅 버그 수정
  front/src/api/api.ts
  front/src/screens/ChatScreen.tsx
  front/src/screens/WholeChatScreen.tsx
Labels: bug, front-end

#325 refactor : [알림] 알림을 이벤트 방식으로 리팩토링
  back/api/src/main/java/com/jikgorae/api/articlefavoritecount/application/ArticleFavoriteCountService.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCreatedEvent.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCreatedListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteDeletedEvent.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteDeletedListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteService.java
  back/api/src/main/java/com/jikgorae/api/favorite/domain/Favorite.java
  back/api/src/main/java/com/jikgorae/api/favorite/presentation/FavoriteController.java
  back/api/src/main/java/com/jikgorae/api/member/domain/Member.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterService.java
  back/api/src/main/java/com/jikgorae/api/notification/application/NotificationEvent.java
  back/api/src/main/java/com/jikgorae/api/notification/application/NotificationEventListener.java
  back/api/src/main/java/com/jikgorae/api/notification/domain/NotificationSender.java
  back/api/src/main/java/com/jikgorae/api/notification/domain/NotificationType.java
  back/api/src/main/java/com/jikgorae/api/notification/domain/PushToken.java
  back/api/src/test/java/com/jikgorae/api/favorite/application/FavoriteServiceTest.java
  back/api/src/test/java/com/jikgorae/api/favorite/presentation/FavoriteControllerTest.java
Labels: back-end, front-end, refactoring

#336 refactor: [알림] Common 모듈로 분리
  .gitignore
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleViewService.java
  back/api/src/main/java/com/jikgorae/api/article/application/AuthorResponse.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/Opponent.java
  back/api/src/main/java/com/jikgorae/api/common/config/ComponentConfig.java
  back/api/src/main/java/com/jikgorae/api/common/config/QuerydslConfig.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCreatedListener.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteNotificationService.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteService.java
  back/api/src/main/java/com/jikgorae/api/favorite/domain/Favorite.java
  back/api/src/main/java/com/jikgorae/api/notification/application/NotificationEvent.java
  back/api/src/main/java/com/jikgorae/api/notification/application/NotificationEventListener.java
  back/api/src/main/java/com/jikgorae/api/notification/domain/NotificationType.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  back/api/src/test/java/com/jikgorae/api/chatroom/presentation/ChatRoomControllerTest.java
  back/api/src/test/java/com/jikgorae/api/favorite/application/FavoriteServiceTest.java
  back/build.gradle
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageNotificationService.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageSentEvent.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageSentListener.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageService.java
  back/chat/src/main/java/com/jikgorae/chat/message/domain/Message.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/application/WholeMessageRequest.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/application/WholeMessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/application/WholeMessageService.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/domain/WholeMessage.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/domain/WholeMessageRepository.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/presentation/WholeMessageController.java
  back/chat/src/test/java/com/jikgorae/chat/message/fixture/MessageFixture.java
  back/chat/src/test/java/com/jikgorae/chat/wholemessage/acceptance/WholeMessageAcceptanceTest.java
  back/chat/src/test/java/com/jikgorae/chat/wholemessage/fixture/WholeMessageFixture.java
  back/common/build.gradle
  back/common/src/main/java/com/jikgorae/common/notification/domain/NotificationService.java
  back/common/src/main/java/com/jikgorae/common/notification/domain/PushToken.java
  back/common/src/main/java/com/jikgorae/common/notification/infra/NotificationSupport.java
  back/settings.gradle
  front/src/api/api.ts
  front/src/components/ArticleDetail/ArticleDetailBottomNav.tsx
  front/src/components/chat/ChatRoomItem.tsx
  front/src/components/chat/ChatRoomList.tsx
  front/src/components/join/JoinSubmit.tsx
  front/src/data/defaultArticle.ts
  front/src/screens/ArticleDetailScreen.tsx
  front/src/screens/ChatScreen.tsx
  front/src/states/chatRoomState.ts
  front/src/states/pushTokenState.ts
Labels: back-end, front-end, refactoring

#337 fix: [버그] 게시글 생성 제약 조건 적용
  front/src/components/Article/ArticleFormPrice.tsx
  front/src/components/Article/ArticleFormTitle.tsx
  front/src/components/Feed/FeedArticleCard.tsx
  front/src/screens/ArticleContentsFormScreen.tsx
  front/src/screens/ArticleFormScreen.tsx
Labels: bug, front-end

#339 fix: [채팅] 채팅시 알림이 오지 않는 버그 수정
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteCreatedListener.java
  back/chat/src/main/java/com/jikgorae/chat/config/ComponentConfig.java
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageSentListener.java
Labels: bug

#341 feature : [피드] 예약중인 게시글도 표시되도록 수정
  back/api/src/main/java/com/jikgorae/api/article/query/ArticleDao.java
Labels: back-end, refactoring

#342 fix: [버그] 이미 가입된 조직 코드 입력시 에러 출력
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterService.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/domain/MemberOrganizationRepository.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterServiceTest.java
  front/src/components/organization/OrganizationEnterSubmitButton.tsx
  front/src/components/organization/OrganizationEntranceCode.tsx
  front/src/screens/OrganizationEnterScreen.tsx
  front/src/states/organizationState.ts
Labels: bug, front-end

#345 refactor : [채팅] 시간 timezone 버그
  back/chat/src/main/java/com/jikgorae/chat/message/application/MessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/application/WholeMessageResponse.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/presentation/WholeMessageController.java
Labels: back-end, bug

#346 fix : [버그] 피드 새로고침 시 버그 수정
  front/src/screens/FeedHomeScreen.tsx
Labels: bug, front-end

#349 fix : [게시글 상세] 작성자 아바타가 없을때 사진 안뜨는 버그
  front/src/components/ArticleDetail/AuthorAvatar.tsx
Labels: bug, front-end

#350 fix: [버그] 프로필 수정 완료 후 바텀탭이 보이지 않는 문제
  front/src/components/Common/Modal/MyInfoModal.tsx
  front/src/components/Profile/CompletedTab.tsx
  front/src/components/Profile/OnSaleTab.tsx
  front/src/components/organization/OrganizationItem.tsx
  front/src/screens/MyInfoScreen.tsx
  front/src/screens/PurchaseHistoryScreen.tsx
Labels: bug, front-end

#353 fix: [카테고리] 카테고리 화면에서 필터 팝업 메뉴 클릭시 사라지지 않는 버그 수정
  front/src/screens/CategoryHomeScreen.tsx
Labels: bug, front-end

#354 fix : [카테고리 조회] 필터 버그
  front/src/screens/CategoryHomeScreen.tsx
Labels: bug, front-end

#356 fix: [카테고리] 카테고리 선택 후 화면을 벗어나도 글씨가 파란색으로 표시되는 버그 수정
  front/src/components/Category/HomeCategoryItem.tsx
Labels: bug, front-end

#358 fix : [찜] 찜 개수가 0 일때 숫자가 안뜨는 현상
  front/src/components/Feed/FeedFavorite.tsx
Labels: bug, front-end

#359 refactor: [디자인] 시작 버튼 수정
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/CustomOAuth2Provider.java
  front/src/api/api.ts
  front/src/components/auth/AuthButton.tsx
  front/src/screens/FeedHomeScreen.tsx
Labels: front-end, refactoring

#361 refactor : [버그] 피드 메뉴 팝업 처리
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
Labels: front-end, refactoring

#368 fix : [채팅 리스트] 조직 탈퇴시 채팅 리스트 업데이트
  front/src/components/chat/OrganizationChatList.tsx
Labels: bug, front-end

#371 fix: [알림] 알림 권한 요청을 하지 않는 버그
  front/app.json
  front/src/components/Profile/ProfileInfo.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/ProfileScreen.tsx
Labels: bug, front-end

#373 [배포] 2.0.1 업데이트
  front/app.json
Labels: deploy

#375 fix : [게시글 삭제] ArticleFavoriteCount FK 오류
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleService.java
  back/api/src/main/java/com/jikgorae/api/articlefavoritecount/application/ArticleFavoriteCountService.java
  back/api/src/main/java/com/jikgorae/api/articlefavoritecount/domain/ArticleFavoriteCountRepository.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleServiceTest.java
Labels: back-end, bug

#377 fix : [게시글 삭제] FK 오류
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleDeleteService.java
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleService.java
  back/api/src/main/java/com/jikgorae/api/article/domain/Article.java
  back/api/src/main/java/com/jikgorae/api/articlefavoritecount/application/ArticleFavoriteCountService.java
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ChatRoomService.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/ChatRoomRepository.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteService.java
  back/api/src/main/java/com/jikgorae/api/favorite/domain/FavoriteRepository.java
  back/api/src/test/java/com/jikgorae/api/article/application/ArticleServiceTest.java
Labels: back-end, bug

#379 fix : [게시글 삭제] FK 오류 - 2
  back/api/src/main/java/com/jikgorae/api/article/application/ArticleDeleteService.java
  back/api/src/main/java/com/jikgorae/api/articlefavoritecount/application/ArticleFavoriteCountService.java
  back/api/src/main/java/com/jikgorae/api/articleorganization/application/ArticleOrganizationService.java
  back/api/src/main/java/com/jikgorae/api/articleorganization/domain/ArticleOrganizationRepository.java
  back/api/src/main/java/com/jikgorae/api/chatroom/application/ChatRoomService.java
  back/api/src/main/java/com/jikgorae/api/chatroom/domain/ChatRoomRepository.java
  back/api/src/main/java/com/jikgorae/api/favorite/application/FavoriteService.java
  back/api/src/main/java/com/jikgorae/api/favorite/domain/FavoriteRepository.java
  back/api/src/test/java/com/jikgorae/api/articleorganization/application/ArticleOrganizationServiceTest.java
Labels: back-end, bug

#384 fix : [채팅] 동시 메세지 오류
  back/chat/src/main/java/com/jikgorae/chat/message/presentation/MessageController.java
  back/chat/src/main/java/com/jikgorae/chat/wholemessage/presentation/WholeMessageController.java
Labels: back-end, bug

#386 feature : [채팅] 로깅
  back/chat/src/main/resources/logback-spring.xml
Labels: back-end, enhancement
