Repository woowacourse-teams/2020-seller-lee-company, pull requests merged in 2020-10, with the labels that each got.

#390 refactor: JwtAuthenticationFilter SecurityContext 저장하는 로직변경
  back/api/src/main/java/com/jikgorae/api/security/filter/JwtAuthenticationFilter.java
Labels: back-end, refactoring

#394 refactor : [리팩터링] ArticleDao 조회메서드 중복 제거
  back/api/src/main/java/com/jikgorae/api/article/presentation/ArticleController.java
  back/api/src/main/java/com/jikgorae/api/article/query/ArticleDao.java
  back/api/src/test/java/com/jikgorae/api/article/acceptance/ArticleAcceptanceTest.java
  back/api/src/test/java/com/jikgorae/api/article/presentation/ArticleControllerTest.java
Labels: back-end, refactoring

#395 [테스트] Jacoco 적용하기
  back/api/build.gradle
  back/build.gradle
Labels: back-end, enhancement

#393 refactor : [문서화] 문서화 테스트 개선
  back/api/build.gradle
  back/api/src/docs/api-docs.adoc
  back/api/src/docs/asciidoc/api-docs.adoc
  back/api/src/main/resources/static/docs.html
  back/api/src/test/java/com/jikgorae/api/article/presentation/ArticleControllerTest.java
  back/api/src/test/java/com/jikgorae/api/favorite/presentation/FavoriteControllerTest.java
  back/api/src/test/java/com/jikgorae/api/member/presentation/AuthControllerTest.java
  back/build.gradle
Labels: back-end, bug, documents

#397 refactor : [채팅] 1:1 채팅시 pushToken이 없는 경우
  front/src/screens/ChatScreen.tsx
Labels: front-end, refactoring

#399 docs: README 추가
  README.md
  images/CICD.png
  images/graphic.jpg
  images/jikgoraeThumnail.png
  images/project_architectures.png
  images/stack.png
Labels: documents

#402 refactor: [문서] README 일부 수정
  README.md
  images/jikgoraeThumnail.png
  images/kouz.png
  images/stitch.png
  images/subway.png
  images/tto.png
  images/turtle.png
  images/youtube.png
Labels: documents, refactoring

#406 refactor: [리팩토링] 조직 생성 기능의 성능 측정 및 성능 개선
  back/api/src/main/java/com/jikgorae/api/organization/application/OrganizationService.java
  back/api/src/main/java/com/jikgorae/api/organization/domain/OrganizationRepository.java
  back/api/src/test/java/com/jikgorae/api/organization/application/OrganizationServiceTest.java
Labels: back-end, refactoring

#408 refactor: [리팩토링] flyway index 생성 버전 추가
  back/api/src/main/resources/db/migration/V11.1__Create_Organization_index.sql
Labels: back-end, refactoring

#414 refactor: [리팩토링] Organization, MemberOrganization 테스트 코드 작성
  back/api/src/main/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterService.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/exception/MemberOrganizationAlreadyExistsException.java
  back/api/src/main/java/com/jikgorae/api/memberOrganization/presentation/MemberOrganizationController.java
  back/api/src/main/java/com/jikgorae/api/organization/application/OrganizationResponse.java
  back/api/src/main/java/com/jikgorae/api/organization/application/OrganizationService.java
  back/api/src/main/java/com/jikgorae/api/organization/domain/Organization.java
  back/api/src/main/java/com/jikgorae/api/organization/domain/OrganizationCodeGenerator.java
  back/api/src/main/java/com/jikgorae/api/organization/domain/RandomOrganizationCodeGenerator.java
  back/api/src/main/java/com/jikgorae/api/organization/exception/OrganizationAlreadyExistsException.java
  back/api/src/main/java/com/jikgorae/api/organization/exception/OrganizationNotFoundException.java
  back/api/src/main/java/com/jikgorae/api/organization/presentation/OrganizationController.java
  back/api/src/main/java/com/jikgorae/api/organization/query/OrganizationDao.java
  back/api/src/test/java/com/jikgorae/api/fixture/OrganizationFixture.java
  back/api/src/test/java/com/jikgorae/api/memberOrganization/application/MemberOrganizationRegisterServiceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/application/OrganizationResponseTest.java
  back/api/src/test/java/com/jikgorae/api/organization/application/OrganizationServiceTest.java
  back/api/src/test/java/com/jikgorae/api/organization/domain/CustomOrganizationCodeGenerator.java
  back/api/src/test/java/com/jikgorae/api/organization/domain/RandomOrganizationCodeGeneratorTest.java
  back/api/src/test/java/com/jikgorae/api/organization/presentation/OrganizationControllerTest.java
Labels: back-end, refactoring

#416 [시큐리티] 시큐리티 테스트 작성
  back/api/src/main/java/com/jikgorae/api/security/filter/JwtAuthenticationFilter.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/provider/JwtTokenProvider.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/service/CustomOAuth2UserService.java
  back/api/src/main/java/com/jikgorae/api/security/oauth2/service/GettingDefaultOAuth2UserService.java
  back/api/src/test/java/com/jikgorae/api/ControllerTest.java
  back/api/src/test/java/com/jikgorae/api/security/FilterTest.java
  back/api/src/test/java/com/jikgorae/api/security/handler/OAuth2SuccessHandlerTest.java
  back/api/src/test/java/com/jikgorae/api/security/oauth2/authentication/AuthorizationExtractorTest.java
  back/api/src/test/java/com/jikgorae/api/security/oauth2/service/CustomOAuth2UserServiceTest.java
Labels: back-end
