Repository woowacourse-teams/2020-seller-lee-company, pull requests merged in 2020-07, with the labels that each got.

#21 fix: Prettier TypeScript 적용 오류
  front/app.json
  front/babel.config.js
  front/package.json
  front/tsconfig.json
Labels: bug

#37 feature: [카테고리별 게시글 조회] 하단 네비게이션 바 컴포넌트
  front/App.tsx
  front/package.json
  front/src/components/Navigation.tsx
  front/src/screens/CategoryScreen.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/HomeScreen.tsx
  front/src/screens/ProfileScreen.tsx
  front/src/screens/WriteScreen.tsx
  front/yarn.lock
Labels: enhancement, front-end

#36 feature: [카테고리별 게시글 조회] 화면 레이어링
  .gitignore
  front/src/styles/index.ts
Labels: enhancement, front-end

#39 feature: [카테고리별 게시글 조회] 상단 바 컴포넌트
  .gitignore
  front/.prettierignore
  front/App.tsx
  front/package.json
  front/src/components/BottomTabNavigation.tsx
  front/src/components/CategoryNavigation.tsx
  front/src/screens/CategoryDetailScreen.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/CategoryScreen.tsx
  front/src/screens/SearchScreen.tsx
  front/src/styles/index.ts
  front/yarn.lock
Labels: enhancement, front-end

#38 feature: [카테고리별 게시글 조회] 게시글 컴포넌트 생성
  front/package.json
  front/src/calculateDiffTime.ts
  front/src/components/ArticleCard.tsx
  front/src/data/articleMockData.ts
  front/yarn.lock
Labels: enhancement, front-end

#49 feature: [게시글 생성] 스크린 컴포넌트
  front/.eslintrc
  front/package.json
  front/src/components/ArticleCard.tsx
  front/src/components/ArticleCreateNavigation.tsx
  front/src/components/ArticleCreateOptionsModal.tsx
  front/src/components/ArticlePriceForm.tsx
  front/src/components/ArticleTitleForm.tsx
  front/src/components/BottomTabNavigation.tsx
  front/src/components/CategoryItem.tsx
  front/src/screens/ArticleContentsFormScreen.tsx
  front/src/screens/ArticleCreateScreen.tsx
  front/src/screens/CategoryChoiceScreen.tsx
  front/src/screens/CategoryDetailScreen.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/HomeScreen.tsx
  front/src/screens/ProfileScreen.tsx
  front/src/screens/SearchScreen.tsx
  front/src/states/articleState.ts
  front/src/states/categoryState.ts
  front/yarn.lock
Labels: enhancement, front-end

#51 feature: [게시글 생성] 태그 컴포넌트
  front/package.json
  front/src/components/Tag.tsx
  front/src/components/TagItem.tsx
  front/src/components/TagModal.tsx
  front/src/states/TagState.ts
  front/src/types/types.ts
Labels: enhancement, front-end

#54 feature: [피드 조회] 피드 컴포넌트
  front/src/components/ArticleCard.tsx
  front/src/components/BottomTabNavigation.tsx
  front/src/components/CategoryItem.tsx
  front/src/components/DemoArticle.tsx
  front/src/components/FeedNavigation.tsx
  front/src/screens/ArticleContentsFormScreen.tsx
  front/src/screens/ArticleCreateScreen.tsx
  front/src/screens/CategoryChoiceScreen.tsx
  front/src/screens/CategoryDetailScreen.tsx
  front/src/screens/CategoryHomeScreen.tsx
  front/src/screens/ChatScreen.tsx
  front/src/screens/FeedHomeScreen.tsx
  front/src/screens/ProfileScreen.tsx
  front/src/screens/SearchScreen.tsx
  front/src/screens/SellerLeeScreen.tsx
  front/src/types/types.ts
Labels: enhancement, front-end

#55 feature: [전체] 게시글 전체 조회 API
  back/build.gradle
  back/gradle/wrapper/gradle-wrapper.properties
  back/src/main/java/sellerlee/back/SellerLeeApplication.java
  back/src/main/java/sellerlee/back/article/application/ArticleResponse.java
  back/src/main/java/sellerlee/back/article/application/ArticleService.java
  back/src/main/java/sellerlee/back/article/domain/Article.java
  back/src/main/java/sellerlee/back/article/domain/ArticleRepository.java
  back/src/main/java/sellerlee/back/article/domain/Category.java
  back/src/main/java/sellerlee/back/article/domain/Tag.java
  back/src/main/java/sellerlee/back/article/domain/Tags.java
  back/src/main/java/sellerlee/back/article/presentation/ArticleController.java
  back/src/main/java/sellerlee/back/config/H2ServerConfig.java
  back/src/main/java/sellerlee/back/member/application/MemberResponse.java
  back/src/main/java/sellerlee/back/member/domain/Member.java
  back/src/main/resources/application.properties
  back/src/main/resources/application.yml
  back/src/main/resources/data.sql
  back/src/test/java/sellerlee/back/BackApplicationTests.java
  back/src/test/java/sellerlee/back/article/acceptance/AcceptanceTest.java
  back/src/test/java/sellerlee/back/article/application/ArticleServiceTest.java
  back/src/test/java/sellerlee/back/article/fixture/ArticleFixture.java
  back/src/test/java/sellerlee/back/article/fixture/TagFixture.java
  back/src/test/java/sellerlee/back/article/presentation/ArticleControllerTest.java
Labels: back-end, enhancement
